[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third-party/catch2"]
	path = third-party/catch2
	url = git@github.com:catchorg/Catch2.git
